.popup__input-error {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 12px;
  line-height: 15px;
  color: red;
  margin: 0;
  padding: 0;
  min-height: 30px;
}
