.footer__copyright {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: #545454;
  max-width: 880px;
  min-width: 282px;
  width: 100%;
}

  @media screen and (max-width: 615px) {
    .footer__copyright {
      font-size: 14px;
      line-height: 17px;
    }
  }


