.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 320px;
  max-width: 880px;
  width: 100%;
  margin: 0 auto 47.25px;
}

  @media screen and (max-width: 910px) {
    .profile {
      flex-direction: column;
      align-items: center;
    }
  }

