.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  row-gap: 20px;
  column-gap: 17px;
  box-sizing: border-box;
  padding: 0;
  max-width: 880px;
  width: 100%;
  margin: auto;
}

  @media screen and (max-width: 910px) {
    .elements {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      max-width: 600px;
    }
  }

  @media screen and (max-width: 615px) {
    .elements {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      max-width: 282px;
    }
  }