.popup__submit-button_type_active {
  min-width: 358px;
  min-height: 50px;
  padding: 0;
  margin: 10px 0 10px;
  border: none;
  font: inherit;
  background-color: black;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 2px;
  transition: .2s;
}

.popup__submit-button_type_active:hover {
  opacity: .8;
  cursor: pointer;	
}

  @media screen and (max-width: 910px) {
    .popup__submit-button_type_active {
      min-width: 238px;
      min-height: 46px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 15px;
    }
  }

