.profile__image {
  height: 127.5px;
  width: 127.5px;
  border-radius: 50%;
  margin-right: 20.6px;
  background-size: cover;
}

  @media screen and (max-width: 910px) {
    .profile__image {
      margin: 0 auto 22.25px;
    }
  }

