.elements__like {
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  margin: /*5px 5px*/0 auto 0 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
  transition: .2s;
}

.elements__like:hover {
  cursor: pointer;
  opacity: 0.5;	
}