.profile__title-block {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: max-content;
}

@media screen and (max-width: 910px) {
  .profile__title-block {
  margin: 0 auto 14px;
  }
}



